Flask==0.12.2
gunicorn==19.9.0
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
requests==2.18.1
six==1.10.0
urllib3==1.21.1
Werkzeug==0.12.2
line-bot-sdk==1.5.0
Flask-PyMongo==2.0.1
boto==2.47.0
boto3==1.7.70
botocore==1.10.70
moto==1.3.3
awscli==1.15.71
tmp==0.0.2
aws-visualizer==0.1.0
django-storages==1.5.2
SpeechRecognition==3.8.1



